@media screen {    
    img {
        
        height: auto;
        max-width: 55%;
        max-height: 90%;
    }
    .introSummary {
        background-color: #FFF7E9;
        font-family: PMingLiU-ExtB;
        height: 35vw;
        width: 100vw;
        overflow-x: hidden !important;
        
    }
    body {
      overflow-x: hidden;
    }

    .aboutMe {
        background-color: #FFF7E9;
        position: absolute;
        overflow: hidden;
        width: 100vw;
        overflow-x: hidden !important;
    }
    
}
a.nav_link{
    color:#000;
}
a.nav_link:hover {
    color:#9C3940;
    text-decoration: none;
  }
a.connectButton {
    background-color:#FFCAB9;
    border:none;
    color: #FFFFFF;
  }
a.connectButton:hover {
    background-color: #9C3940 !important;
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 8px 8px 0 rgba(0,0,0,0.1);
    border:none;
  }
a.connectButton:active {
    color: #9C3940;
    border:none;
}

