@media screen {
    .body {
        overflow-x: hidden;
    }

    .header {
        position: fixed;
        width: 100vw;
        height: 125px;
        background-color:#FFF7E9;
        font-family: Adobe Devanagari;
        overflow-x: hidden;
    }
    img {
        max-width: 55%;
        height: auto;
      }
    .introSummary {
        background-color: #FFF7E9;
        font-family: PMingLiU-ExtB;
        height: 500px;
        overflow-x: hidden;
    }
    
    .aboutMe {
        background-color: #FFF7E9;
        position: relative;
        width: 100vw;
    }
    
}
a.nav_link:link{
    color:darkgray;
    font-size: 25px;
    
}
a.nav_link:hover {
    color:#9C3940;
    padding-top: 10px;
  }
a.connectButton {
    background-color:#FFCAB9;
    border:none;
    color: #FFFFFF;
  }
a.connectButton:hover {
    background-color: #9C3940;
    color: white;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 8px 8px 0 rgba(0,0,0,0.19);
  }

