@media screen and (min-width: 801px) {
    .header {
        position: fixed;
        top:0px;
        overflow-x: hidden;
        width: 100vw;
        height: 10vw;
        background-color:#FFF7E9;
        font-family: Adobe Devanagari;
        z-index: 2;
    }
    a.nav_link{
        color:#9C3940;
        font-size: 25px;
    }
    a.nav_link:hover {
        color:#FFCAB9;
        text-decoration: none;
        font-weight: bolder;
    }
    img {
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }
    img:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 801px) {
    .header {
        display: none;
    }
}
